
<!DOCTYPE html>
<html>

<%- include("../parts/head") %>

<body dir="rtl">

	<!-- start side bar  -->
	<%- include("../parts/side-bar")%>
	<!--/.sidebar-->

	<div style="float: left" class="dashboard mb-4 col-sm-9 col-lg-10 main">
		<h4 class="text-center text-capitalize main-title"> مدرسه السلام المشتركه ف 2 </h4>
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
						<em class="fa fa-home"></em>
					</a></li>
				<li class="">الطلاب</li>
				<li class="active"> ادخال درجات الترم الثانى </li>
			</ol>
		</div>
		<!--/.row-->

		<div class="exams">
			<h4 class="text-center"> <%= 'نتيجه ماده ' +  detials.sub_name  + ' - ' +  detials.level_name %> </h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col"> رقم الجلوس </th>
						<th scope="col">الاسم بالكامل</th>
						<th scope="col">التقويم</th>
						<th scope="col">درجه الامتحان</th>
						<th scope="col">ألمجموع</th>
					</tr>
				</thead>
				<tbody>

					<% for(let subject of subjects) {  %>
					<tr>
						<td> <%= subject.sitting_no %> </td>
						<td> <%= subject.fullname %> </td>
						<form class="form-edit" method="POST" action="/exam/enter-f-term/edit">
							<input type="hidden" class="subjectId" value="<%= subject.subject_id %>" />
							<input type="hidden" class="ssn" value="<%= subject.ssn %>" />
							<input type="hidden" class="worksfteam" value="<%= +subject.works_f_term %>" />
							<input type="hidden" class="ftermdegree" value="<%= +subject.f_term_degree %>" />

							<td class="termWorks">
								<input type="number" class="works_l_term " value="<%= subject.works_l_term %>"
									name="works_f_term">
							</td>

							<td class="termDegree">
									<input type="hidden" value="<%= detials.exam_degree %>" class="exam_degree">
									<input type="hidden" value="<%= detials.success_parcent %>" class="success_parcent">
								<input type="number" class="l_term_degree <%= subject.l_term_degree < (detials.exam_degree * detials.success_parcent ) / 100  ? 'error' : '' %>"
									value="<%= subject.l_term_degree %>" name="l_term_degree">
							</td>

							<td class="resault">
								<% if ( subject.total_resault ) {  %>
									<%= subject.total_resault %>
								<% } else if (subject.works_l_term != 0 || subject.l_term_degree != 0 ) {  %>
									<%= ( subject.f_term_degree + subject.works_f_term + subject.l_term_degree + subject.works_l_term) / 2 %>
									
								<% } else {  %>
									0
								<% } %>

							</td>
							<td> 
							<button data-subjectId="<%= subject.ssn %>" data-ssn="<%= subject.ssn %>"
									class="btn btn-primary add-term-degrees">
									add mark </button>
									 </td>
						</form>
					</tr>
					<% } %>



				</tbody>
			</table>

		</div>

	</div>
	<!--/.main-->



	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/axios/dist/axios.min.js"></script>
	<script src="/js/custom.js"></script>

</body>

</html>