<!DOCTYPE html>
<html lang="en">
<%- include("../parts/head") %>

<body dir="rtl">


    <%- include("../parts/side-bar") %>



  <div style="float: left" class="dashboard mb-4 col-sm-9 col-lg-10 main">
    <h4 class="text-center text-capitalize main-title"> مدرسه السلام المشتركه ف 2 </h4>
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#">
            <em class="fa fa-home"></em>
          </a></li>
        <li class="">الطلاب</li>
        <li class="active">أضافه طالب جديد</li>
      </ol>
    </div>
    <!--/.row-->

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> الرقم القومي </th>
          <th scope="col">الاسم بالكامل</th>
          <th scope="col"> التخصص</th>
          <th scope="col"> رقم التليفون</th>
          <th scope="col"> # </th>
        </tr>
      </thead>
      <tbody>
       <% if (students) {  %>
        <% for(let student of students) {  %>
          <tr>
              <td> <%= student.ssn %> </td>
              <td> <a href="/teacher/<%= student.ssn %>"> <%= student.teach_name %> </a>  </td>
              <td> <%= student.specialazition%> </td>
              <td> <%= student.phone_no %> </td>
              <!--
               <td> 
                <button type="button" class="btn btn-warning">
                  Edit
                </button>
              </td> -->
              <td>
                <form method="POST" action="/teacher/delete" >
                  <input type="hidden" name="image" value="<%= student.image %>">
                  <input type="hidden" name="ssn" value="<%= student.ssn %>">
                  <button type="submit">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </form>
              </td>
  
            </tr>
          <% } %>
        <% } else { %>
          <div class="alert alert-danger"> there are not any students </div>
        <% } %>

      </tbody>
    </table>

  </div>
  <!--/.main-->
<!-- 
  <div class="fixed form-edit">
      <form method="POST" action="/student/edit">
        <input type="hidden" name="ssn" value="student.ssn">
        
      </form>  
  </div> -->
</body>

</html>